PIL
argparse
ast
cv2
json
lane_detector
numpy==1.26.4
os
pkg_resources
pyttsx3==2.98
sklearn
streamlit==1.45.1
subprocess
sys
tempfile
time
torch==2.5.1+cu118
torchvision==0.20.1+cu118
tqdm==4.67.1
ultralytics==8.3.38
